.App{
  margin: 0%;
  padding: 0%;
}

html{
  font-family: 'Raleway', sans-serif;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

.navbar{
  z-index: 500;
  padding-bottom: 8vh;
}

.parallax{
  background-image: url('./ShopPhoto.jpg');
  height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.parallax-text{
  text-align: center;
  padding: 250px 0;
  color: White;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: center;
  font-size: 40px;
}

.heading{
  text-decoration: underline;
  padding: 2%;
}

.info{
  text-align: center;
  left: 50%;
  padding: 2%;
  color: black;
  background-color: whitesmoke;
}

.about{
  left: 25%;
  text-align: center;
  padding-bottom: 5%;
}

.opening-hours{
  float: left;
  width: 50%;
  border-right: 1px solid #414141;
}

.hours-table{
  padding: 5%;
  width: 100%;
  text-align: left;
  padding-left: 20%;
  padding-right: 20%;
}

.hours-table th{
  padding: 2%;
}

.col2{
  text-align: right;
}

.location{
  float: right;
  width: 50%;
}

.split:after {
  content: "";
  display: table;
  clear: both;
}

.contact{
  width: 100%;
}
