.App{
  height: 200vh;
  
}

html{
  font-family: 'Raleway', sans-serif;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

.navbar{
  z-index: 500;
  padding-bottom: 8vh;
}

.parallax{
  background-image: url('./ShopPhoto3.jpg');
  height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.parallax-text{
  text-align: center;
  padding: 250px 0;
  color: White;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: center;
  font-size: 40px;
}

.heading{
  text-decoration: underline;
}

.about{
  text-align: center;
  left: 50%;
  padding: 5%;
  color: black;
  text-align: center;
  padding-top: 3%;
}

